.header{
    background-color: rgba(235, 252, 138, 0.664);
    height: 12vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header img{
    width: 5vw;
    margin-top: 5px;
    margin-left: 15px; 
}

.title-logo p{
    margin-top: 35px;
}